.list-follow {
    margin-top: 70px;
    width: 100%;

    .title-instagram {
        font-family: courier, courier new, serif;
        text-align: center;
        color: #c9243a;
        font-size: 20px;
        padding-bottom: 15px;

        span{
            font-weight: 700;
        }
    }

    &-instagram{
        display: flex;
        flex-wrap: wrap;
        width: 100%;


        &-item{
            position: relative;
            width: calc(100%/8 - 20px + 20px/8);
            margin-right: 20px;
            margin-bottom: 20px;

            &:last-child{
                margin-right: 0;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-color: rgba(0,0,0,.6);
                visibility: hidden;
                opacity: 0;
                transition: all .4s;
            }
            &:hover::after {
                visibility: visible;
                opacity: 1;
                transition: all .4s;
            }
        }

        img {
            position: relative;
            width: 100%;
            object-fit: cover;
            
        }

    }

    #more{
        display: none;
    }

    .btn-align{
        text-align: center;

        &-showmore{
            font: normal normal normal 16px/20px avenir-lt-w01_35-light1475496,sans-serif;
            padding: 0.6em 1em;
            background-color: transparent;
            color: rgb(29, 29, 29);
            border: 3px solid rgb(29, 29, 29);
        }

        &-showmore:hover{
            color: #fff;
            background-color: rgb(29, 29, 29);
        }
    }
}