.main-title {
    letter-spacing: 0.05em;
    font: normal normal bold 25px/1.4em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}

.contact{
    width: 100%;
    position: relative;

    &-title{
        text-align: center;
        line-height: 30px;

        h3{
            font-size: 22px;
            color: #C9243A;
            text-transform: uppercase;
        }

        p{
            font-size: 20px;
            color: #303131;
            span{
                font-weight: bold;
            }
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0px;

        &-item {
            width: calc(100%/2);

            .padding{
                text-align: right;
                padding: 20px 40px 0px 0px;
            }

            &-content{
                padding: 20px 0px;
                font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;

                &-title{
                    font-size: 20px;
                    font-weight: 600;
                    margin: 20px 0px;
                }

                &-address{
                    font-size: 18px;
                }
            }
        }


        &-item:last-child {
            img{
                width: 100%;
                object-fit: cover;
            }
        }


    }


    &-list-right{
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0px;

        &-item{
            width: calc(100%/2);

            .padding{
                text-align: left;
                padding: 20px 0px 0px 40px;
            }

            &-content{
                padding: 20px 0px;
                font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;

                &-title{
                    font-size: 20px;
                    font-weight: 600;
                    margin: 20px 0px;
                }

                &-address{
                    font-size: 18px;
                }
            }
        }

        &-item:first-child {
            img{
                width: 100%;
                height: 900px;
                object-fit: cover;
            }
        }
    }
}