.cap-nhat{
    margin-top: 20px;
    width: 100%;
    text-align: center;

    &-title{
        font-size: 30px;
        color: #755D5D;
        padding-bottom: 20px;
    }

    &-inp{
        width: 464px;
        height: 42px;
        font: normal normal normal 15px/1.4em tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
        font-size: 13px;
        padding: 3px 3px 3px 12px;
        display: block;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        background-color: rgba(250, 226, 226, 1);
        border: none;
    }
    
    .border{
            border: 1px solid rgba(255, 102, 102, 1);
    }

    &-btn{
        color: #fff;
        background-color: rgba(117, 93, 93, 1);
        border: solid rgba(133, 133, 133, 1) 0px;
        cursor: pointer !important;
        padding: 13px 45px;
        margin-bottom: 50px;
    }

    &-btn:hover {
        background-color: rgb(163, 138, 138);
    }
}

@media screen and (max-width: 600px) {
    input[type=text] {
      width: 100%;
      margin-top: 0;
    }
  }