.banner {
    width: 100%;
    position: relative;

    img{
        width: 100%;
        height: 498px;
        object-fit: cover;
    }

    &-title{
        position: absolute;
        top: 30%;
        text-transform: uppercase;

        h2{
            font-size: 55px;
            font-family: 'Times New Roman', Times, serif;
        }

        p{
            color: #fff;
            font-size: 30px;
        }
    }
}