.recruit{
    width: 100%;
    position: relative;
    font-size: 18px;
    text-align: justify;
    color: #303131;
    font-family: courier, courier new, serif;
    margin-bottom: 30px;
    
    h2{
        margin-top: 30px;
        font-size: 70px;
        text-align: center;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        object-fit: cover;
    }

    p{
        margin: 20px 0px 30px 0px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;

        &-item {
            width: calc(100%/2);
        } 

        &-item:first-child {
            text-align: right;
            
            img{
                width: 55%;
                object-fit: cover;
                margin-left: 180px;
            }
        }

        &-item:last-child {
            img {
                width: 55%;
                object-fit: cover;
                margin-right: 180px;
            }
        }
    }
}