.sharetea-vietnam {
    width: 100%;
    position: relative;

        &-list {
            display: flex;
            flex-wrap: wrap;

            &-item {
                width: calc(100%/2);
            }

            &-item:first-child{
               .padding {
                   padding: 10px 25px 0px 130px;
                .title{
                    text-align: right;
                    font-family: courier, courier new, serif;
                }
               }
            }

            .title > div:first-child {
                h2 {
                    text-align: right;
                    font-size: 70px;

                    span {
                        color: #c9243a;
                    }
                }
            }

            .title > div:last-child {
                span{
                    line-height: 85px;
                    font-size: 24px;
                    color: #c9243a;
                    font-weight: 600;
                }

                p {
                    font-size: 17px;

                    span {
                        font-size: 17px;
                        line-height: 0px;
                        color: #c9243a; 
                    }
                }
            }

            &-item:last-child{
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
}