.youtube{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px 0px 20px 0px;
    
    .title{
        font-size: 30px;
        font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;
        padding-bottom: 20px;
        font-weight: 600;
        color: #c9243a;
    }
}

.player{
    border: none;
    max-width: calc(100%);
    width: 100%;
}
