@import './modules/layout';
@import './modules/test';
@import './modules/navbar';
@import './modules/carousel';
@import './modules/content';
@import './modules/content_mon';
@import './modules/content_follow';
@import './modules/content_capnhat';
@import './modules/footer';
@import './modules/thuonghieu-sharetea';
@import './modules/sharetea-vietnam';
@import './modules/chutrong-chatluong';
@import './modules/youtube';
@import './modules/employee_banner';
@import './modules/employee_content';
@import './modules/recruitment';
@import './modules/promotion';
@import './modules/contact';